.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background: #fff;
}

.search-area {
  width: 33%;
}

.search-box {
  width: 300px;

  border: 1px solid #777;

  display: flex;
  align-items: center;

  padding: 8px 12px;

  border-radius: 4px;
}

.search-box input {
  border: none;
  outline: none;

  width: 100%;
}

.logo-area img {
  height: 55px;
}

.header-icons {
  width: 33%;

  display: flex;
  justify-content: flex-end;
  gap: 25px;

  font-size: 24px;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  position: absolute;

  top: -8px;
  right: -10px;

  background: #ad342a;

  color: white;

  width: 18px;
  height: 18px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
}